.button-register{
    outline:none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 221, 1);
    width: 30%;
    padding: 3%;
    font-size: large;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
.black{
    background-color: black;
}
.button-register:hover{
    background-color: #525252;;
}